[Unit]
Description=Daemon for metti-printer receipt printer server
After=network.target

[Service]
Type=simple
ExecStart=/opt/python-venv/bin/python src/index.py
User=crew
Group=root
WorkingDirectory=/srv/metti-printer
Restart=on-failure
SyslogIdentifier=metti-printer
RestartSec=5
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
