
# Destination config
store_id = 1
polling_interval = 5

# Printer facts
printer_vendor_id = 0x1a86
printer_product_id = 0x7584
printer_profile = 'TM-T88IV'
printer_timeout = 1500 # in ms
printer_width = 43

# Service integration
service_root = 'https://metti.spaghettisfest.lu'
service_auth = ('crew', '')
