
# Destination config
printer_name = 'bar'
polling_interval = 5

# Printer facts
printer_vendor_id = 0x1a86
printer_product_id = 0x7584
printer_profile = 'TM-T88IV'
printer_timeout = 1500 # in ms
printer_width = 42

# Service integration
service_root = 'https://api.kescht.lu/v1'
service_auth_token = ''
